body {
    box-sizing: border-box;
}
body img {
    width: 100%; max-width: 100%;}


.container {
    /* grid container */
    display: grid;
    grid-template-areas: " header header"
        "main aside"
        "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 15% 1fr 15%;
    /* decoration */
    background-color: rgb(200, 197, 191);
    height: 100vh;
    text-align: center;

}

.header {
    /*grid area*/
    grid-area: header;
    /*position*/
    padding: 10px;
    align-self: center;

}

.main {
    /* grid container*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    row-gap: 5%;
    padding: 5%;
    /* Grid area name*/
    grid-area: main;
    /*decoration*/
    background-color: antiquewhite;

}

.main_grid2 {
    /*grid cantainer*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: " one two "
        " three three ";
      
    /*position og grid elements*/
    align-items: center;
    gap: 1rem;
    margin-right: 5%;
    margin-left: 5%;
}


.one {
    /*grid area*/
    grid-area: one;
     /*position of grid element*/
    align-self: end;
}

.two {
    /*grid area*/
    grid-area: two;
     /*position of grid element*/
    align-self: end;

}

.three {
    /*grid area*/
    grid-area: three;
    /*position of grid element*/
    align-self: start;
   
}
.three .two .one .aside{
    padding: 10px;
}

.main_grid2 div {
    /*decoration*/
    background-color: aliceblue;
    /*size grid element*/
    height: 13vh;

}

.aside {
    /*grid area*/
    grid-area: aside;
    /*decoration*/
    background-color: rgb(226, 247, 220);
}

.footer {
    /*container*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: repeat(3, 200px);
    /*grid area*/
    grid-area: footer;
   /*elements in container*/
    grid-template-rows: 8vh;
    align-content: space-around;
}

.footer div {
       /*position*/
       margin-left: 5%;
       margin-right: 5%;
       padding: 5%;
       align-self: center;   
    /*decoration*/
    background-color: azure;
    /*text decoration*/
    word-break: break-all;
    
}
